.welcome-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.button-container {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
}

.ant-btn {
  width: 180px; /* Adjust the width of the buttons as needed */
  height: 60px; /* Adjust the height of the buttons as needed */
}
